@import 'src/styles/tokens.scss';

.label {
  display: block;
}

.input {
  display: block;
  width: 100%;
  padding: $spacing-04 $spacing-05;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: $spacing-03 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  box-shadow: inset 0 1px 3px #ddd;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
