// spacings

$spacing-02: 4px;
$spacing-03: 8px;
$spacing-04: 12px;
$spacing-05: 16px;
$spacing-06: 24px;
$spacing-07: 32px;

// colors

$green-01: #04aa6d;
$green-02: #059862;

$light-gray-01: #f6f6f6;
$light-gray-02: #f2f2f2;
$light-gray-03: #d2d2d2;

$gray-01: #ddd;
$gray-07: #444;
