@import 'src/styles/tokens.scss';

.form {
  width: 100%;
}

.header {
  font-size: 24px;
  text-align: center;
}

.errorMessage {
  min-height: 18px;
  margin: $spacing-05 0;
  font-size: 16px;
  color: $red-01;
}

.submitButton {
  margin-bottom: $spacing-03;
}
