@import 'src/styles/tokens.scss';

@mixin sortingHeader {
  display: flex;
  flex-direction: row;
  min-width: 140px;
  user-select: none;
  cursor: pointer;
}

.table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;

  th {
    line-height: $spacing-06;
    padding: $spacing-03 $spacing-05;
    background-color: $green-02;
    color: $white;
  }

  tr {
    border-bottom: 1px solid $gray-01;
  }

  tr:nth-child(even) {
    background-color: $light-gray-02;
  }

  td {
    padding: $spacing-02 $spacing-05;
  }
}

.leftAlign {
  text-align: left;
}

.rightAlign {
  text-align: right;
}

.sortingHeaderLeft {
  @include sortingHeader;
  justify-content: flex-start;
}

.sortingHeaderRight {
  @include sortingHeader;
  justify-content: flex-end;
}

.sortingHeaderTitle:last-child {
  margin-right: $spacing-06;
}
