@import 'src/styles/tokens.scss';

.page {
  width: 100%;
  height: 100%;

  .content {
    width: 100%;
    margin: 0 auto;
    max-width: 600px;

    .tableContainer {
      @media (min-width: 500px) {
        padding: $spacing-06;
      }
    }
  }
}
